:root {
    --default: #080505;
    --primary: #004c97;
    --secondary: #424242;
    --accent: #82b1ff;
    --error: #ff5252;
    --info: #2196f3;
    --success: #4caf50;
    --warning: #ffc107;
  }

  a, p, h1, h2, h3, h4, h5, h6, i {
    opacity: 0.9;
  }

  label {
    font-size: 1.2rem;
    font-weight: 500;
    color: grey !important;
  }
  input:focus {
    border-bottom: var(--primary) 2px solid !important;
  }