:root {
    --topbar-sidebar-color: #000;
    --default: #080505;
    --primary: #1976d2;
    --secondary: #424242;
    --accent: #82b1ff;
    --error: #ff5252;
    --info: #2196f3;
    --success: #4caf50;
    --warning: #ffc107;
  }